<div class="container d-flex w-100 justify-content-center">

  <div class="grid">
    <h1 class="g-col-12 mx-3">Payment Invoice</h1>

    <p class="g-col-12 text-right"> 
      <%= @invoice.first_name %> <%= @invoice.last_name %>
    </p>

    <p class="g-col-12 text-right">
    <%= @invoice.email %>
    </p>

    <h4 class="g-col-12 text-center">Service Description</h4>
    <p class="g-col-12 text-left"><strong>Description: </strong><%= @invoice.description %></p>

    <h4 class="g-col-12 text-center">Purchase Items</h4>

    <div class="g-col-12 text-left">
      <p><strong>Website: </strong><%= @invoice.website %></p>
    

      <p><strong>Revamp:</strong> <%= @invoice.revamp %></p>
    
      <p><strong>SEO:</strong> <%= @invoice.seo %></p>
      
      <p><strong>Webmail:</strong> <%= @invoice.webmail %></p>
    <div>

    <h4 class="g-col-12 text-center">Billing Details</h4>

    <div class="g-col-12 text-right">
      <p><strong>Cost:</strong> <%= number_to_currency(@invoice.cost) %></p>
      <p><strong>Tax:</strong> <%= number_to_currency(@invoice.tax) %></p>
      <p><strong>Stripe:</strong> <%= @invoice.stripe %></p>
      <p><strong>PayPal:</strong> <%= @invoice.paypal %></p>
      <p><strong>Fees:</strong> <%= number_to_currency(@invoice.fees) %></p>
      <p><strong>Net:</strong> <%= number_to_currency(@invoice.net) %></p>
      <p><strong>User:</strong> <%= @invoice.user_id %></p>
    </div>

  </div>
</div>

<div>

<%= link_to 'Edit', edit_invoice_path(@invoice) %> | <%= link_to 'Destroy', invoice_path(@invoice), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', invoices_path %>
</div>